body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr; 
    height: 100vh;
}

.sidebar {
    background-color: aquamarine;
    grid-row: 1 / 3;
}
.sidebar p {
    margin-left: 2em;
    font-size: 16pt;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
li{
    list-style-type: none;
}
p img {
    position: relative;
    top: 0.2em;
    right: 0.5em;
}
li img {
    position: relative;
    top: 0.4em;
    right: 1em;
}
.header {
     display: grid;
     grid-template: 1fr 1fr / 4fr 1fr 1fr 1fr;
     place-items: center center;
     
}

.widgets, .quick-menu {
    grid-column: span 4;
    display: contents;

}
input {
    justify-self: center;
    width: 35vw;
    border-radius: 20px;
}

.display {   
    display: grid;
    grid-template: 1fr 3fr 1fr 3fr / 3fr 1fr;
    background-color: beige;
}

.quick-menu {
}
.quick-menu p{
    
}
.quick-menu button{
    
}

.projects {
    grid-row: span 4;
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
}

.cards {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    border: solid 1px black;
    height: minmax(150px, 1fr);
    background-color: aliceblue; 
    position: relative;   
}

.card .icons {
    position: absolute;
    top: 70%;
    left: 50%;
}
.icons img {
    padding: 0 0.5em;
}
.announcements {
    grid-row: span 2;
    display: flex;
    flex-direction: column;  
    margin: 2rem 1.5rem 1rem 0;
}
.news {
    background-color: azure;
    height: minmax(150px, 1fr);
    flex: 1;
}

.trending {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    margin: 2rem 1.5rem 4rem 0;
}
.item {
    background-color: azure;
    flex: 1;
}